COMPOSE_PROJECT_NAME=ask

API_CONTAINER_NAME=api.ask.org.az
DB_CONTAINER_NAME=ask.org.az-sqlserver
MINIO_CONTAINER_NAME=ask.org.az-minio
ASPNETCORE_ENVIRONMENT=Production

MSSQL_DATABASE=ASKDb
DB_SA_PASSWORD=CHANGE_THIS_SQL_PASSWORD_Use_20plus_Chars!

Cors__AllowedOrigins=https://ask.org.az,https://www.ask.org.az,https://admin.ask.org.az
Swagger__Enabled=false

Jwt__Key=CHANGE_THIS_TO_A_LONG_RANDOM_64PLUS_CHARACTER_SECRET_KEY
Jwt__Issuer=ask-api
Jwt__Audience=ask-admin
Jwt__DurationInMinutes=60

MINIO_ROOT_USER=ask_minio
MINIO_ROOT_PASSWORD=CHANGE_THIS_MINIO_PASSWORD_Use_20plus_Chars!
MINIO_BUCKET_NAME=ask-media
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_PUBLIC_ENDPOINT=
WORDPRESS_SEED_ENABLED=true

ExchangeRateSettings__ApiKey=
ExchangeRateSettings__BaseUrl=https://v6.exchangerate-api.com/v6

SeedAdmin__Enabled=false
SeedAdmin__UserName=admin
SeedAdmin__Email=admin@ask.org.az
SeedAdmin__Password=CHANGE_THIS_ADMIN_PASSWORD_BEFORE_ENABLING
