COMPOSE_PROJECT_NAME=ask

API_CONTAINER_NAME=api.ask.org.az
DB_CONTAINER_NAME=ask.org.az-sqlserver
ASPNETCORE_ENVIRONMENT=Production

MSSQL_DATABASE=ASKDb
DB_SA_PASSWORD=CHANGE_THIS_SQL_PASSWORD_Use_20plus_Chars!

Cors__AllowedOrigins=https://ask.org.az,https://www.ask.org.az,https://admin.ask.org.az
Swagger__Enabled=false

Jwt__Key=CHANGE_THIS_TO_A_LONG_RANDOM_64PLUS_CHARACTER_SECRET_KEY
Jwt__Issuer=ask-api
Jwt__Audience=ask-admin
Jwt__DurationInMinutes=60

CloudinarySettings__CloudName=
CloudinarySettings__ApiKey=
CloudinarySettings__ApiSecret=

ExchangeRateSettings__ApiKey=
ExchangeRateSettings__BaseUrl=https://v6.exchangerate-api.com/v6

SeedAdmin__Enabled=false
SeedAdmin__UserName=admin
SeedAdmin__Email=admin@ask.org.az
SeedAdmin__Password=CHANGE_THIS_ADMIN_PASSWORD_BEFORE_ENABLING
